html {
  font-size: 16px;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra-de-navegacion {
  width: 200px;
  height: 100dvh;
  background-color: #333333;
  position: fixed;
}

.contenedor-de-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000000;
}

.contenedor-de-iconos {  
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  height:  100%;
  padding-top: 20px;              
  align-items: center;
  gap: 12px;
  overflow-y: auto;
}

.contenedor-de-iconos::-webkit-scrollbar {
  width: 6px;
  background-color: #777777;
}

.contenedor-de-iconos::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 10px;
}

.item {
  flex-shrink: 0;
  display: flex;
  width: 90%;
  height: 48px;
  border: 3px solid #000000;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  color: #777777;
  background-color: transparent;
  font-family: tahoma;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  overflow: hidden; 
  transition: 1s;
}

.item.active {
  border: 3px solid #00ffff; 
  color: #00ffff;
  background-color: transparent;
}

.item:hover{
  border: 3px solid #00ffff; 
  color: #00ffff;
  background-color: transparent;
}

.iconos-de-navegacion {
  width: 32px;
  height: 32px; 
  margin-left: 17px;
}

.logo {
  width: 50%;
}

.contenitux {
  margin-left: 23px;
}
